<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lottery.draw.springboot.mapper.RaffleMapper">

    <insert id="joinRaffle" parameterType="lottery.draw.springboot.entity.RaffleUser">
        INSERT INTO tb_raffle_user(raffle_id, user_id,sort,real_name)
        VALUES(#{raffleId},#{userId},#{sort},#{realName});
    </insert>

    <delete id="outRaffle">
        delete from tb_raffle_user
        where raffle_id = #{raffleId}
        and user_id = #{userId}
    </delete>

    <select id="getRaffleUser" resultType="lottery.draw.springboot.entity.RaffleUser">
        select * from tb_raffle_user
        where raffle_id = #{raffleId}
        and user_id = #{userId}
    </select>

    <select id="getListRaffleUser" resultType="lottery.draw.springboot.entity.RaffleUser">
        select * from tb_raffle_user
        <where>
            <if test="raffleId!= null and raffleId != ''">
                AND raffle_id = #{raffleId,jdbcType=VARCHAR}
            </if>
            <if test="userId!= null and userId != ''">
                AND user_id = #{userId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="getNewSort" resultType="lottery.draw.springboot.entity.RaffleUser">
        SELECT * FROM tb_raffle_user WHERE
        raffle_id = #{raffleId,jdbcType=VARCHAR}
        ORDER BY sort DESC LIMIT 1
    </select>
    <select id="getByQuery" resultType="lottery.draw.springboot.entity.Raffle"></select>
</mapper>
